nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: teal;
    gap: 45px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    transition: all 0.3s;
    font-size: 20px;
}

nav a:hover {
    color: aqua;
}